---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: root-application-in-rendered-folder
  namespace: argocd
spec:
  project: default
  source:
    repoURL: >-
      https://github.com/DaneWeber/argo-cd-app-of-apps-of-apps-rendered
    targetRevision: main
    path: rendered-manifests/argo-cd-app-of-apps-chart/templates
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: argocd
  syncPolicy:
    automated:
      prune: false
      selfHeal: true
