---
# Source: child-apps-in-other-namespaces/templates/child-application.yaml
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: app-of-apps
  namespace: messaging-gitops-devtest-west
spec:
  destination:
    namespace: messaging-gitops-devtest-west
    server: 'https://kubernetes.default.svc'
  source:
    repoURL: https://github.com/example/messaging-manifests
    targetRevision: main
    path: applications/devtest
  project: default
  syncPolicy:
    automated:
      prune: false
      selfHeal: true
      allowEmpty: false
